<appSettings>
  <add key="MailServer" value="dev-smtp.MovieLab.com"/>
  <add key="FacebookAppId" value="4889134714500420" />
  <add key="FacebookAppSecret" value="63e12dbf58b501d1e0fff6704411fdbe" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>